

/* máy tính bảng và điện thoại */
@media (max-width: 1023px) {
    .header{
        height: 70px;
    }
    .happy_birthday-img-png {
        display: block;
        height: 100px;
    }
}

@media (max-width: 720px){
    .icon-arrow{
        width: 65%;
        height: 100%;
    }
    .header_slider{
        width: 100%;
    }
    #content{
        width: 100%;
    }
    .avatar-about {
        display: block;
        width: 200px;
        height: 200px;
        margin: auto;
        z-index: 1;
        border-radius: 50%;
        box-shadow: 0 0 20px rgb(170 225 236 / 94%);
    }
    .text-about {
        display: block;
        margin: auto;
        width: 90%;
        max-width: 100%px;
        height: 667px;
        background-color: white;
        margin-top: -104px;
        border-radius: 10px;
        background-image: url(../img/phaohoa.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text-main {
        margin-top: 132px;
    }
    .slider__main {
        width: 100%;
        padding-top: 50px;
    }
    .button-all {
        height: 100px;
        margin: 0 auto ;
        width: 90%;

        position: absolute;
        /* top: -5px; */
        bottom: 155px;
        right: 10px;
        left: 10px;

    }
    .button{
        margin: auto;
        flex: 1;
    }
    .slider__main--conterner{
        width: 100%;
    }


    .name_modal-content {
        font-size: 20px;
        padding-left: 8px;
    }
    .header_content-modal {
        height: 100px;
        padding: 0 15px;
    }
    .box-img {
        display: block;
        height: 80px;
        width: 80px;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid rgba(214, 197, 197, 0.8);
    }
    .modal__body {
        height: 83vh;
        width: 50vh;

    }
    .item-text {
        display: flex;
        font-size: 1.7rem;
        height: 60px;
        
        padding: 7px;
    }
    .gif__minion{
        margin-top: 144px;
    }
    

    .icon-modal_menu{
        font-size: 25px;
    }
    .mySlides {
        display: block;
        border: 5px black solid;
        border-radius: 10px;
        object-fit: contain;
        height: 430px;
        width: 355px;
        background-color: black;
    }
}